[submodule "src/flamegraph"]
	path = src/flamegraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "src/github.com/gorilla/mux/"]
	path = src/github.com/gorilla/mux/
	url = https://github.com/gorilla/mux
	branch = master
[submodule "src/github.com/gorilla/context/"]
	path = src/github.com/gorilla/context/
	url = https://github.com/gorilla/context
	branch = master
